header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5BAB77;
  width: 100%;
  heagit: 50px;
  border-bottom-color: #00000001;
  border-bottom-style: soild;
  border-bottom-eidth: 1px;
}
ul {
  display:flex;
}
li {
  list-style:none;
}
