header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5BAB77;
  width: 100%;
  height: 50px;
  border-bottom-color: #00000010;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

header ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  height: 100%;
  align-items: center;
}

header li {
  list-style: none;
  margin-top: 0px;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.main {
  margin-top: 50px;
}

header button {
  background-color: #498C5F;
  border: none;
}

header form {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: none;
  height:40px;
  margin:0 15px;
  box-sizing: border-box;
}
header input {
  width: 250px;
  height: 100%;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
  background-color: #498C5F;
  color: #ffffff;
}

header input::placeholder {
  color: #57bd78;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
}
.search {
  height:100%;
  display: flex;
  align-items: center;
}

header a {
  color: #ffffff; 
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  
  height: 100%;
  display: flex;
  align-items: center;    
  justify-content: center; 
  padding: 0 15px; 
  box-sizing: border-box; 
}

header a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

header a:has(img) {
  padding-left: 15px;
  margin-left: 20px;
}

header a > img {
  height: 30px;
  width: auto;
  display: block;
  margin: auto 0;
}
header button img {
  height: 20px;
}
