.info {
  width: 100%;
  height: 60%;
  background-color: #498c5f;
}
.try button {
  height: 12.5%;
  border: none;
  border-radius: 0;
  background-color: #2e593c;
  color: #ffffff;
.info p {
  color: #ffffff;
}
